In [2]:
import pandas as pd

from datetime import datetime

In [8]:
df = pd.read_csv('../data/lesson_1_data.csv', encoding='utf-8', sep=',')

In [10]:
df.head(3)

,номер заказа,создан,оплачен,название курса,статус,заработано,город,платежная система
0,1001,2024-09-01 10:15:22,2024-09-01 10:17:45,Аналитик данных,завершен,45000,Москва,яндекс
1,1002,2024-09-01 11:30:10,2024-09-01 11:32:18,Python-разработчик,завершен,55000,Санкт-Петербург,сбер
2,1003,2024-09-01 12:45:33,NaN,Аналитик данных,отменен,0,Новосибирск,т-банк

In [12]:
df.shape

(60, 8)

In [14]:
df.columns

Index(['номер заказа', 'создан', 'оплачен', 'название курса', 'статус',
       'заработано', 'город', 'платежная система'],
      dtype='object')

In [16]:
df = df.rename(columns={
    'номер заказа': 'order_id',
    'создан': 'created_at',
    'оплачен': 'paid_at',
    'название курса': 'course_name',
    'статус': 'status',
    'заработано': 'revenue_rub',
    'город': 'city',
    'платежная система': 'payment_system'
})

In [50]:
df.columns

Index(['order_id', 'created_at', 'paid_at', 'course_name', 'status',
       'revenue_rub', 'city', 'payment_system'],
      dtype='object')

In [52]:
df.course_name.unique()

array(['Аналитик данных', 'Python-разработчик', 'Тестировщик ПО',
       'Data Science', 'DevOps-инженер'], dtype=object)

In [59]:
all_revenue_rub = df['revenue_rub'].sum()

In [20]:
all_revenue_rub

2155000

In [28]:
df.groupby('course_name', as_index=False) \
    .aggregate({'revenue_rub': 'sum'})

          course_name  revenue_rub
0        Data Science       650000
1      DevOps-инженер       300000
2  Python-разработчик       385000
3     Аналитик данных       540000
4      Тестировщик ПО       280000

In [42]:
revenue_rub_by_city_and_courses = df.groupby(['course_name', 'city']) \
    .aggregate({'revenue_rub': 'sum'}) \
    .sort_values('revenue_rub', ascending=False)

In [44]:
revenue_rub_by_city_and_courses.to_csv('revenue_rub_by_city_and_courses.csv')

In [48]:
money_by_title = df \
    .query("status == 'завершен'") \
    .groupby('course_name', as_index=False) \
    .aggregate({
        'revenue_rub': 'sum',
        'order_id': 'count',
    }) \
    .sort_values('revenue_rub', ascending=False) \
    .rename(columns={'order_id': 'success_orders'})

In [9]:
today_day = datetime.today().strftime('%Y-%m-%d')
filename = f'money_title_{today_day}.csv'

In [10]:
if int(money_by_title.revenue_rub.sum()) == int(all_revenue_rub):
    print(f'OK. File {filename} is written.')
else:
    print('ERROR!')

NameError: name 'money_by_title' is not defined